/* For Responsive Typography */

html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    height: 100%;
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 16px;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        font-size: 16px;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        font-size: 16px;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        font-size: 18px;
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        font-size: 20px;
    }
}


/* #intro section styles */

#intro {
    padding: 0;
    z-index: 9;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #fff;
    min-height: 500px;
    align-items: center;
    justify-content: center;
}

#intro .text-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
}

#intro .text-background>div {
    width: 50%;
    overflow: hidden;
    position: relative;
}

#intro .text-background .text {
    opacity: 1;
    transform: translate(-8%, -50%) matrix(1, 0, 0, 1, 0, 0);
    text-shadow: 20px 20px 0 rgba(0, 0, 0, 0.2);
    font-size: 50vw;
    font-weight: 900;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-10%, -50%) rotate(90deg);
    transform: translate(-10%, -50%) rotate(90deg);
    will-change: transform, opacity;
    opacity: 1;
    transform: translate(-8%, -50%) matrix(1, 0, 0, 1, 0, 0);
}


/* #intro .text-background .text--1-container {
    background: lightgray;
} */

#intro .text-background .text--2-container {
    /* background: darkgray; */
    background: #c9dbe9;
    /* background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%); */
}

#intro .text-background .text--1 {
    color: #c9dbe9;
}

#intro .text-background .text--2 {
    left: -100%;
    color: white;
    text-shadow: 20px 20px 0 rgba(0, 0, 0, 0.5);
}


/* #intro .intro-header {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
} */

#intro .intro-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
}

#intro .intro-header .intro-header-box {
    pointer-events: visible;
    position: relative;
    z-index: 100;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#intro .intro-header .intro-header-title,
#intro .intro-header .intro-header-subtitle {
    text-align: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    padding: 7px 20px;
    color: #f9f9f9;
    color: black;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 0;
    will-change: transform;
    font-size: 1.5rem;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#intro .intro-header .intro-header-title {
    margin-bottom: 5px;
}

#intro .intro-header .intro-header-subtitle {
    font-size: 1.2rem;
}

#intro .intro-header i {
    margin: 0 auto;
    display: inline-block;
    font-style: normal;
    position: relative;
    z-index: 2;
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
    will-change: transform;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#intro .intro-header span {
    will-change: transform;
    -webkit-transform: translateX(-101%);
    transform: translateX(-101%);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#intro .intro-header-line {
    display: block;
    width: 5px;
    height: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 49.8%;
    overflow: hidden;
    z-index: 99;
}

#intro .intro-header-line>div {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    will-change: transform;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
}


/* About Section */

#about {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 500px;
    background: white;
    align-items: center;
}

#about-content {
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 0 #000;
    /* animation: pulseEffect 4s infinite; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    padding: 2rem;
}

.about-content-left,
.about-content-right {
    display: flex;
    flex-grow: 1;
    padding: 2rem;
    position: relative;
}

.about-content-left .avatar-photo {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border: 5px solid white;
    width: 25%;
    box-shadow: 0 0 0 #c9dbe9;
    animation: pulseEffect 4s infinite;
}

.about-content-right {
    flex-flow: column;
    display: flex;
    font-family: "Advent Pro", sans-serif;
}

.about-content-right .data {
    align-self: flex-start;
}

.about-content-right .education {
    align-self: flex-end;
}

.about-content-left .avatar-nametag {
    width: 80%;
}

.separator {
    border-top: 1px solid black;
    margin: 2rem 0;
}


/* Work Section */

#work {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 500px;
    background: white;
    align-items: center;
}

#work-content {
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 0 #000;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    padding: 2rem;
}

#work-content h3 {
    margin-bottom: 0px;
}

.work-content-left,
.work-content-right {
    display: flex;
    flex-grow: 1;
    padding: 2rem;
    position: relative;
    flex-direction: column;
}

.work-content-left {
    flex-flow: column;
    display: flex;
    font-family: "Advent Pro", sans-serif;
}

.work-content-left .work-odd {
    align-self: flex-start;
}

.work-content-left .work-even {
    align-self: flex-end;
}

.work-content-right {
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

.work-content-right .avatar-nametag {
    width: 80%;
}

.cloud-container img {
    width: 70%;
}

.cloud-container:first-of-type {
    align-self: flex-start;
}

.cloud-container:nth-of-type(2) {
    align-self: center;
    display: flex;
}

.cloud-container:nth-of-type(2) img {
    width: 50%;
}

.avatar-work {
    width: 100%;
    position: relative;
    top: -50px;
    margin-bottom: 50px;
}

.nudge {
    animation: nudge 3s linear infinite alternate;
}

.nudge2 {
    animation: nudge 7s linear infinite alternate;
}

.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}


/* Animations */

.text--1-container {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.text--2-container {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.intro-header-line {
    animation: createBox 2s;
}


/* Skill Section */

#skill {
    display: flex;
    background-color: #7ca9cc;
    background-image: url(http://localhost/mansytivity/wp-content/uploads/2020/02/newyork-by-mansy-scaled.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    line-height: 0rem;
    color: white;
    text-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}


/* Contact Section */

#contact #socialmedia {
    display: flex;
    flex-basis: auto;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#contact #socialmedia a {
    color: #7ca9cc;
    padding: 1rem;
}

#contact #socialmedia a:hover {
    color: #c9dbe9;
}

#contact #copyright-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #7ca9cc;
    text-transform: uppercase;
    color: #ffffff;
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 320px) and (max-width: 1024px) {
    #intro .text-background .text {
        text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
    }
    #about-content {
        flex-flow: column;
    }
    #work-content {
        flex-flow: column;
    }
    #work-content .work-content-left {
        order: 2;
    }
    #work-content .work-content-right {
        order: 1;
        min-height: 300px;
        padding-bottom: 0px;
    }
    .cloud-container:first-of-type img {
        width: 50%;
    }
    .avatar-work {
        margin-bottom: 0px;
    }
    #skill {
        font-size: 2rem;
        text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
    }
}